<form class="login-form">
  <h4>Log In To Account</h4>
  <div class="login">
    <label for="email-login"></label>
    <input type="text" id="email-login" placeholder="Email" />
    <label for="password-login"></label>
    <input type="password" id="password-login" placeholder="Password" />

    <button type="submit">Log In</button>
  </div>
    <a href="/signup">Sign up instead?</a>
  
</form>



<script src="/js/login.js"></script>